<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.webServer>
  <staticContent>
    <remove fileExtension=".shp" />
    <mimeMap fileExtension=".shp" mimeType="application/octec-stream" />
     <remove fileExtension=".prj" />
    <mimeMap fileExtension=".prj" mimeType="application/octec-stream" />
        <remove fileExtension=".shx" />
    <mimeMap fileExtension=".shx" mimeType="application/octec-stream" />

  <!--        <remove fileExtension=".cpg" />
    <mimeMap fileExtension=".cpg" mimeType="application/octec-stream" />-->
        <remove fileExtension=".dbf" />
    <mimeMap fileExtension=".dbf" mimeType="application/x-dbf" />
        <remove fileExtension=".geojson" />
    <mimeMap fileExtension=".geojson" mimeType="application/geo+json" />
    
  </staticContent>
    </system.webServer>

</configuration>
